/* src/components/posts/PostForm.css */

.post-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  border: 2px solid #569BC4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  gap: 15px;
}

.post-form input,
.post-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #569BC4;
  width: 100%;
  box-sizing: border-box;
  color: #333;
  background-color: #f8f9fa;
}

.post-form textarea {
  resize: vertical; /* Allow vertical resizing */
}

.post-form button {
  padding: 10px 15px;
  background-color: #569BC4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.post-form button:hover {
  background-color: #4a8ab0;
}

.post-form-title {
  color: #569BC4;
  margin-top: 0;
  border-bottom: 2px solid #569BC4;
  padding-bottom: 10px;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}